<!DOCTYPE html>
<html xmlns=th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Produtos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
</head>

<body>
    <h1>Cadastro de produtos:</h1>

    <form method="post">
        Nome: <input type="text" value="" name="nome">
        Comprimento: <input type="text" value="" name="comprimento">
        Largura: <input type="text" value="" name="largura">
        Altura: <input type="text" value="" name="altura">

        <button type="submit">Salvar</button>

    </form>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
</body>

</html>