<!DOCTYPE html>
<html xmlns=th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Produtos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
</head>

<body>
    <h1>Cadastro de produtos:</h1>
    <h3><a href="/produtos" class="btn-floating btn-large waves-effect waves-light black"><i
                class="material-icons">list</i>Listar
            Produto</a></h3>
    <form class="container" method="post">

        Nome: <input type="text" value="" name="nome">
        <div class="row">
            <div class="input-field col s4">
                Comprimento: <input type="text" value="" name="comprimento">
            </div>
            <div class="input-field col s4">
                Largura: <input type="text" value="" name="largura">
            </div>
            <div class="input-field col s4">
                Altura: <input type="text" value="" name="altura">
            </div>
        </div>

        <button class="btn-floating btn-large waves-effect waves-light green " type="submit"><i
                class="material-icons">done</i></button>
        <a href="/produtos" class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons">clear</i></a>

    </form>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
</body>

</html>